.navbar{
  height: 50px;
  background-color: #023b8b;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
}
.navItems{
display: flex;
gap: 10px;
}
.image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 5px;
  cursor: pointer;
}
.navlButton{
  padding: 5px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 1px solid white;
}

.navButton{
  padding: 5px 15px;
  color: #0144a1;
  font-weight: 600;
  border-color: #005ee2;
  cursor: pointer;
}